.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #e9eff9 0%, #eff2f9 100%);
}

.current-weather {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px; /* Adjust as needed */
}

.current-weather:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.weather-icon {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    margin: 0 auto 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.current-temperature {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.current-weather-condition {
    font-weight: bold;
    margin-bottom: 10px;
}

.other-details {
    font-size: 1rem;
    color: #555;
}

.city-name {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.forecast-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
