.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh;
}

.current-weather {
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 100%; /* Ensure the current weather section doesn't exceed the maximum width */
    text-align: center; /* Center the content */
    margin-top: 20px; /* Add margin to separate the current weather section from the city name */
}

.city-name {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: black; /* Ensure the city name is displayed in black color */
}

.weather-icon {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    margin: 0 auto 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.current-temperature {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.current-weather-condition {
    font-weight: bold;
    margin-bottom: 10px;
}

.other-details {
    font-size: 1rem;
    color: #555;
}

.forecast-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}