.weather-container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.current-weather {
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.current-weather:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.weather-icon {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    margin: 0 auto 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.current-temperature {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.current-weather-condition {
    font-weight: bold;
    margin-bottom: 10px;
}

.other-details {
    font-size: 1rem;
    color: #555;
}

.city-name {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    position: relative;
    z-index: 1; /* Ensure the city name appears above the shadow box */
}

.city-name::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark gray color with some transparency */
    border-radius: 10px;
    z-index: -1; /* Push the shadow box behind the city name */
}

.forecast-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.city-name, .current-temperature, .current-weather-condition, .other-details {
    color: #fff;
}